*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    height: 100vh;
    width:100vw;
}


.navbar{
    height: 15vh;
    width: 100vw;
    background-color: grey;
    display:flex

}

.grid{
    height: 85vh;
    width:100vw;
}
.filters,.action-button{
    /* border: 1px solid; */
    background-color: #2c3e50;
    height: 50%;
    /* display: inline-block; */
    margin: calc( (25 / 100 ) * 15vh );
    
}
.filters{
    width: 16rem;
    display: flex;
}
.action-button{
    width: 8rem;
    display: flex;
    
}
.filter{
    height:100%;
    width:25%;
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*pseudo - class (a construct which tells that css element is in which state*/

.filter:hover{
    background-color: #7f8c8d;
}

.add,.delete{
    height:100%;
    width:50%;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.add:hover{
    background-color: #7f8c8d;
}
.delete:hover{
    background-color: #7f8c8d;
}

.filter div{
    height: 50%;
    width: 50%;
    border:1px solid;
    border-radius: 5px;
}

.pink{
    background-color: #ff7979;
}
.blue{
    background-color: #3867d6;
}
.yellow{
    background-color: yellow
}
.black{
    background-color: black;
}
.material-icons{
    font-size: 2rem!important;
}

.modal{
    height:10rem;
    width:20rem;
    background-color: #7f8c8d;
    position: fixed;
    top:25vh;
    left:50%;
    transform: translateX(-50%);
}
